<h1><%= title %></h1>
<form method="POST" action="/new">
  <label for="messageUser">Author:</label>
  <input type="text" name="messageUser" id="messageUser" required>
  <br>
  <label for="messageText">Message:</label>
  <input type="text" name="messageText" id="messageText" required>
  <br>
  <input type="submit" value="Submit">
</form>